.main{
    display: grid;
    
    width: 350px;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.3);
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:19vh repeat(5,1fr);
    
    box-shadow: rgba(97, 97, 97, 0.7)0px 8px 24px;
    border-radius: 7px;
}

.btn{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    font-size: 2rem;
    display: flex;  /* Add this property */
  justify-content: center;  /* Add this property */
  align-items: center;
  margin: 7px;
  cursor: pointer;
  transition: transform 0.05s ease-in-out;
   
  }
  
  .display-box{
    grid-column: 1/-1;
    display:grid;
  
    align-content: center;
    
  }

  

  .btn:hover{
    background-color: rgba(255, 255, 255, 0.5); 
  }

  input{
   background-color:  rgba(255, 255, 255, 0.1);
   border: none;
   height:15vh;
   width: 90%;
   margin-left: 13px;
   display: grid;
   
   
  }

  input:focus{
   outline:none;
   cursor:none;
  
  }

  .btn.clicked{

    transform: translateY(5px);
  }

  .btn-clear{
    grid-column: 3/-1;
    margin-bottom: 10px;
  }

  .display-box h3{
    max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  }